<a href="https://colab.research.google.com/github/ehabsameh/Final_Project/blob/main/Remotework_Impact_on_HousingPrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import needed packages

import pandas as pd
import json
from urllib.request import urlopen
import matplotlib.pyplot as plt
import plotly.express as px
from urllib import request
import json
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [19]:
#With all variables
url2021="https://api.census.gov/data/2021/acs/acs1?get=NAME,B08006_017E,B07001_049E,B07001_065E&for=congressional%20district:*&in=state:*"
response = urlopen(url2021)
data_json = json.loads(response.read())
data_json.pop(0)
cols = ['District Name','worked_from_home','moved_within_state','moved_from_different_state','State code', 'district number']
data2021 = pd.DataFrame(data_json, columns = cols)
data2021[['District', 'State']] = data2021['District Name'].str.split(',', expand=True)
data2021['district number'] = pd.to_numeric(data2021['district number'])
data2021['State'] = data2021['State'].str.strip()
data2021 = data2021[['worked_from_home','moved_within_state','moved_from_different_state','district number', 'State']]
data2021.head()

,worked_from_home,moved_within_state,moved_from_different_state,district number,State
0,42608,22854,5236,10,Michigan
1,23145,26318,22566,4,Mississippi
2,61221,17147,6603,14,Michigan
3,33255,33330,15256,1,Michigan
4,17872,25412,14507,3,Mississippi